* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
}

section {
    min-height: 100vh;
    padding: 10px 9% 60px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 1000;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: rgb(30, 30, 30);
    transition: 0.3s;
}

.logo:hover {
    color: #690900;
    transform: scale(1.3);
}

header nav {
    display: flex;
    gap: 35px;
}

header nav a {
    font-weight: 500;
    position: relative;
    text-decoration: none;
    color: #333;
    font-size: 17px;
    transition: 0.3s;
}

header nav a:hover {
    color: #4b004c;
}

header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 0;
    height: 2px;
    background: #690900;
    transition: 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.home img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 12.5px gray;
    cursor: pointer;
    animation: float 3s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover {
    box-shadow: 0 0 25px black;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
    }
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
}

span {
    color: #690900;
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 21px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 2px solid #690900;
    border-radius: 50%;
    font-size: 2rem;
    color: #690900;
    margin: 2rem 1.5rem 3rem 0;
    transition: all 0.3s ease;
}

.social-media a:hover {
    background-color: #690900;
    color: #fff;
    box-shadow: 0 0 20px #690900;
    transform: scale(1.15)translateY(-8px);
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    background: #690900;
    border-radius: 80px;
    color: white;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3 ease;
}

.btn:hover {
    box-shadow: 0 0 25px #690900;
}

.about-content {
    min-height: 100vh;
    padding: 100px 9%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    background: #f8f8f8;
}

.about-content>div {
    background: #fff;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
    transition: .3s;
}

.about-content>div:hover {
    transform: translateY(-8px);
}

.title {
    grid-column: 1/-1;
    text-align: center;
    box-shadow: none;
}

.title h1 {
    font-size: 48px;
    color: #690900;
}

.intro {
    grid-column: 1/2;
}

.time {
    grid-column: 2/3;
}

.about-content h2 {
    margin-bottom: 15px;
    color: #690900;
}

.about-content p,
.about-content li {
    font-size: 17px;
    line-height: 1.7;
}

.about-content ul {
    padding-left: 20px;
}

.skills {
    min-height: 100vh;
    padding: 80px 9%;
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.skills h1 {
    grid-column: 1/-1;
    text-align: center;
    font-size: 48px;
    color: #690900;
    margin-bottom: 50px;
}

.skill-category {
    margin-bottom: 40px;
}

.skill-category h2 {
    font-size: 26px;
    color: #690900;
    margin-bottom: 15px;
}

.skill {
    margin-bottom: 15px;
}

.skill h4 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
}

.bar {
    width: 100%;
    height: 4px;
    background: #ddd;
    border-radius: 15px;
    overflow: hidden;
}

.bar div {
    height: 100%;
    border-radius: 15px;
    background-color: rgb(72, 0, 0);
    transition: width 1s ease;
}

.progress-html {
    width: 70%;
}

.progress-css {
    width: 50%;
}

.progress-js {
    width: 30%;
}

.progress-php {
    width: 25%;
}

.progress-python {
    width: 40%;
}

.progress-c {
    width: 20%;
}

.progress-sql {
    width: 55%;
}

.frontend-part {
    grid-column: 1 / 2;
}

.backend-part {
    grid-column: 2 / 3;
}

.datab-part {
    grid-column: 1 / -1;
}

.datab-part h2 {
    font-size: 26px;
    color: #690900;
    margin-bottom: 15px;
}

.projects {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
    position: relative;
    text-align: center;
}

.projects h2 {
    font-size: 60px;
    color: #690900;
    position: relative;
}

.projects h2::before,
.projects h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 3px;
    background: #690900;
}

.projects h2::before,
.projects h2::after {
    right: 100%;
    margin-right: 20px;
    animation: growL 7s forwards infinite;
}

.projects h2::after {
    left: 100%;
    margin-left: 20px;
    animation: growR 7s forwards infinite;
}

@keyframes growL {
    0% {
        width: 0
    }
    50% {
        width: 300px
    }
    100% {
        width: 0
    }
}

@keyframes growR {
    0% {
        width: 0
    }
    50% {
        width: 300px
    }
    100% {
        width: 0
    }
}

footer {
    height: 60px;
    width: 100%;
    background: rgb(58, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
}

.icons a {
    font-size: 40px;
    margin: 0 30px;
    color: bisque;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icons a:hover {
    transform: scale(1.2);
    transform: translateY(-6px)
}

.icons a:hover .fa-facebook {
    color: #1877f2;
}

.icons a:hover .fa-instagram {
    color: #e4405f;
}

.icons a:hover .fa-linkedin {
    color: #0a66c2;
}

.icons a:hover .fa-whatsapp {
    color: #25d366;
}

.icons a:hover .fa-github {
    color: #24292e;
}

.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h1 {
    font-size: 48px;
    color: #690900;
    margin-bottom: 30px;
}

.contact form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact input,
.contact textarea {
    padding: 15px;
    border: 2px solid #690900;
    border-radius: 8px;
    font-size: 16px;
}

.contact textarea {
    height: 150px;
    resize: none;
}

.contact button {
    padding: 14px;
    background: #690900;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}

.contact button:hover {
    box-shadow: 0 0 15px #690900;
}